<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ .Site.BaseUrl }}images/favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ .Site.BaseUrl }}bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ .Site.BaseUrl }}css/blog.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="{{ .Site.BaseUrl }}">Blog</a>
          <a class="blog-nav-item" href="{{ .Site.BaseUrl }}eventi">Eventi</a>
          <a class="blog-nav-item" href="{{ .Site.BaseUrl }}incontri">Incontri</a>
          <a class="blog-nav-item" href="#">Forum</a>
          <a class="blog-nav-item" href="#">Newsletter</a>
          <a class="blog-nav-item" href="#">Chat</a>
          <a class="blog-nav-item" href="{{ .Site.BaseUrl }}chi-siamo">Chi Siamo</a>
          <a class="blog-nav-item" href="{{ .Site.BaseUrl }}contatti">Contatti</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">ViGLug</h1>
        <p class="lead blog-description">GNU/Linux User Group di Vignate</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
