{{ partial "header.html" . }}
      <div class="col-sm-8 blog-main">
        {{ range where .Data.Pages.ByDate.Reverse "Section" "blog" }}
        <div class="blog-post">
          <h2 class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <p class="blog-post-meta">{{ .Date.Format "02-01-2006" }}</p>
          {{ .Content}}
        </div>
        {{ end }}
        {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Section" "blog") }}
        {{ template "_internal/pagination.html" . }}
      </div>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
