{{ partial "header.html" . }}
      <section id="main" class="col-sm-9 blog-main">
        <article class="blog-post">
          <h1 class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
          <div>
            <p><b>Dove:</b> {{ .Params.location.name }} in {{ .Params.location.address }} (<a href="http://nominatim.openstreetmap.org/search.php?q={{ .Params.location.address }}%20Italy&amp;polygon=1">mappa</a>)</p>
            <p><b>Quando:</b> {{ .Date.Format "15:04 del 02/01/2006" }}</p>
            <p><b>Ordine del Giorno:</b></p>
            <ul>
            {{ range $i, $e :=.Params.odg }}
                <li>{{ . }}</li>
            {{ end }}
            </ul>
            {{if .Params.audio }}
            <p><b>Registrazione audio:</b>
                <audio id="elettronicalibera-mattina" style="width: 100%;" src="{{ .Params.audio }}" controls="controls">
                    Apri <a href="{{ .Params.audio }}">il file</a> col tuo riproduttore audio preferito.</audio>
                {{ end }}
            </p>
          </div>
          {{ .Content}}
        </article>
      </section>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
