            </div>
            <footer>
                <p>&reg; 2010~{{ .Now.Format "2006" }} ViGLug</p>
                <p>Associazione Culturale TRAguardi, CF: 91569560153</p>
                <address>Via Sant'Ambrogio, 11 - 20060 Vignate MI</address>
            </footer>
            <script src="/js/jquery-2.1.4.min.js"></script>
            <script src="/js/bootstrap-3.3.5.min.js"></script>
            <script type="text/javascript">
                (function() {
                    var css = document.createElement('link');
                    css.href = '/css/font-awesome-4.4.0.min.css';
                    css.rel = 'stylesheet';
                    css.type = 'text/css';
                    document.getElementsByTagName('head')[0].appendChild(css);
                })();
            </script>
        </div>
    </body>
</html>
