<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/images/favicon.ico">
  <title>Vignate GNU/Linux User Group</title>
  <link href="/css/bootstrap-3.3.4.min.css" rel="stylesheet">
  <link href="/css/font-awesone-4.3.0.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container nopadding">
    <div class="menu">
      <nav class="nav">
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item" href="/eventi">Eventi</a>
        <a class="nav-item" href="/incontri">Incontri</a>
        <a class="nav-item" href="http://forum.viglug.org">Forum</a>
        <a class="nav-item" href="http://us3.campaign-archive1.com/home/?u=a651cf8dbecc05a4fe16f9001&id=afb5778526">Newsletter</a>
        <a class="nav-item" href="/chat">Chat</a>
        <a class="nav-item" href="/chi-siamo">Chi Siamo</a>
        <a class="nav-item" href="/contatti">Contatti</a>
      </nav>
    </div>
    <div class="header">
      <h1>ViGLug</h1>
      <h2>Vignate GNU/Linux User Group</h2>
    </div>
    <div class="row nomargin">
