<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ .Site.BaseUrl }}images/favicon.ico">
  <title>Blog Template for Bootstrap</title>
  <link href="{{ .Site.BaseUrl }}css/bootstrap-3.3.4.min.css" rel="stylesheet">
  <link href="{{ .Site.BaseUrl }}css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container nopadding">
    <div class="header">
      <h1>ViGLug</h1>
      <h2>Vignate GNU/Linux User Group</h2>
    </div>
    <div class="menu">
      <nav class="blog-nav">
        <a class="blog-nav-item" href="{{ .Site.BaseUrl }}">Home</a>
        <a class="blog-nav-item" href="{{ .Site.BaseUrl }}eventi">Eventi</a>
        <a class="blog-nav-item" href="{{ .Site.BaseUrl }}incontri">Incontri</a>
        <a class="blog-nav-item" href="#">Forum</a>
        <a class="blog-nav-item" href="#">Newsletter</a>
        <a class="blog-nav-item" href="{{ .Site.BaseUrl }}chat">Chat</a>
        <a class="blog-nav-item" href="{{ .Site.BaseUrl }}chi-siamo">Chi Siamo</a>
        <a class="blog-nav-item" href="{{ .Site.BaseUrl }}contatti">Contatti</a>
      </nav>
    </div>
    <div class="row nomargin">
