      <div class="col-sm-3 col-sm-offset-1 sidebar">
        <div class="widget">
          <h4>Ringraziamo</h4>
          <p class="center">Per averci regalato un VPS:<br /><img src="/images/logo-eurovps.png" alt="euroVPS" /></p>
          <p class="center">Per ospitare le nostre riunioni:<br /><img src="/images/logo_opengate.png" alt="OpenGate" /></p>
          <p class="center">Per la partecipazione, l'impegno, il sostegno morale ed economico:<br /><strong>Tutti i pinguini della nostra comunità!</strong></p>
        </div>
        <div class="widget">
          <h4>Chi supportiamo</h4>
          <p class="center">Nel 2015, abbiamo donato 100 € a:<img src="/images/Donor2015_t_small.png" alt="FSFE 2015 donor" /></p>
        </div>
        <div class="widget">
          <h4>Archives</h4>
          <ol class="list-unstyled">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
          </ol>
        </div>
        <div class="widget">
          <h4>Elsewhere</h4>
          <ol class="list-unstyled">
            <li><i class="fa fa-github-square"></i><a href="https://github.com/ViGLug">GitHub</a></li>
            <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/ViGLug">Twitter</a></li>
            <li><i class="fa fa-facebook-official"></i><a href="https://facebook.com/ViGLug">Facebook</a></li>
            <li><i class="fa fa-google-plus-square"></i><a href="https://plus.google.com/+ViGLugOrg">Google Plus</a></li>
            <li><i class="fa fa-suitcase"></i><a href="http://www.meetup.com/ViGLug">Meetup</a></li>
          </ol>
        </div>
      </div>
