      <aside class="col-sm-3 sidebar">
        <div class="widget">
          <h4>Ringraziamo</h4>
          <p class="center">Per averci regalato un VPS:<br /><img src="/images/logo-eurovps.png" alt="euroVPS" /></p>
          <p class="center">Per ospitare le nostre riunioni:<br /><img src="/images/logo_opengate.png" alt="OpenGate" /></p>
          <p class="center">Per la partecipazione, l'impegno, il sostegno morale ed economico:<br /><strong>Tutti i pinguini della nostra comunità!</strong></p>
        </div>
        <div class="widget">
          <h4>Chi supportiamo</h4>
          <p class="center">Nel 2015, abbiamo donato 100 € a:<img src="/images/Donor2015_t_small.png" alt="FSFE 2015 donor" /></p>
        </div>
        <div class="widget">
          <h4>Social Networks</h4>
          <ol class="list-unstyled">
            <li><i class="fa fa-fw fa-github-square"></i><a href="https://github.com/ViGLug">GitHub</a></li>
            <li><i class="fa fa-fw fa-twitter-square"></i><a href="https://twitter.com/ViGLug">Twitter</a></li>
            <li><i class="fa fa-fw fa-facebook-official"></i><a href="https://facebook.com/ViGLug">Facebook</a></li>
            <li><i class="fa fa-fw fa-google-plus-square"></i><a href="https://plus.google.com/+ViGLugOrg">Google Plus</a></li>
            <li><i class="fa fa-fw fa-suitcase"></i><a href="http://www.meetup.com/ViGLug">Meetup</a></li>
          </ol>
        </div>
      </aside>
