{{ partial "header.html" . }}
      <section id="main" class="col-sm-9 blog-main">
        {{ range where .Data.Pages "Section" "blog" }}
        <article class="blog-post">
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div class="meta">
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02/01/2006" }}</time>
            </div>
            <div class="txt">
                <p class="nomargin">
                    {{ .Summary }}
                    <a href="{{ .Permalink }}" title="{{ .Title }}" class="rm">Continua a leggere &rarr;</a>
                </p>
            </div>
            <div class="footer">
                {{ if .Params.categories }}
                    Categorie:
                        {{ range $i, $e :=.Params.categories }}
                            {{if $i}} , {{end}}
                            <a href="/categories/{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                {{ end }}
                {{ if .Params.tags }}
                    Tags:
                        {{ range $i, $e :=.Params.tags }}
                            {{if $i}} , {{end}}
                            <a href="/tags/{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                {{ end }}
            </div>
        </article>
        {{ end }}
        {{ partial "pagination.html" . }}
      </section>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
