{{ partial "header.html" . }}
      <section id="main" class="col-sm-9 blog-main">
        {{ range .Paginator.Pages }}
        <article class="blog-post">
            <h1>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                <time datetime="{{ .Date.Format "02-01-2006" }}">{{ .Date.Format "02/01/2006" }}</time>
            </h1>
        </article>
        {{ end }}
        {{ partial "pagination.html" . }}
      </section>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
