{{ partial "header.html" . }}
      <section id="main" class="col-sm-9 blog-main">
        <h2>Futuri incontri</h2>
        {{ range (where .Data.Pages "Date.Unix" ">" .Now.Unix).Reverse }}
        <article class="blog-post">
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        </article>
        {{ end }}
        <h2>Incontri passati</h2>
        {{ range where .Data.Pages "Date.Unix" "<" .Now.Unix }}
        <article class="blog-post">
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        </article>
        {{ end }}
      </section>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
